/* Estilos gerais como tamanho e cor das seções */
:root {
    --theme-color-blue: #0474fc;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.full-size-panel {
    border: 1px solid transparent;
    margin: 0;
    background-color:  var(--theme-color-blue); /*    */
    height: 100vh;
    width: 100%;
}

.flex-center,
.text-contact,
.blue-block {
    display: flex;

    align-items: center;
    justify-content: center;
}