/* Estilos gerais como tamanho e cor das seções */
:root {
    --theme-color-blue: #0474fc;
    --fresquix-text: 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
article.comments_fresquix,
article.sobre_fresquix{
    margin: 0;
    background-color:  var(--theme-color-blue); /*    */
    height: 100vh;
    width: 100%;
}
