
/* Estilos e animações do header */

header{
    display: flex;
}

header svg{
    margin: auto auto;
}

/* Sobre a Fresquix */

article.sobre_fresquix{
    padding: 35vh 10vw;
    color: var(--theme-color-blue);
    background-image: url(https://i.imgur.com/g45hfSa.png), url(../img/static-background.png);
    background-repeat: repeat-y, repeat-x;
    background-size: cover;
}

article  p.title_sobre{
    font-size: 4em;
    padding-bottom: 40px;
}


article p.sobre{
    font-size: 1.5em;
    font-weight: 600;
}

/* Comentários sobre a Fresquix */
/* colocar para comentários aparecem mediante a altura da tela ou então ao hover da tela */

article.comments_fresquix{ 
    background: url(../img/logomark-background.png);
}

article.comments_fresquix path:hover{
    fill: lightskyblue;
    stroke-width: 0;
    transition: text-shadow 0.5s, transform 0.5s;
    -webkit-transition: text-shadow 0.5s, transform 0.5s;
    -moz-transition: text-shadow 0.5s, transform 0.5s;
    -ms-transition: text-shadow 0.5s, transform 0.5s;
    -o-transition: text-shadow 0.5s, transform 0.5s;
}

.comments{
    display: none;
}

/* Contacts */

div.section-contact{
    background: url(../img/contact-panel-background.png) center center no-repeat;
/* background-repeat: ; */
    
    
}

div.section-contact .blue-block {
    background-color: var(--theme-color-blue);
    /*height: 8vh;
    */width: 10vw;
    margin: 3vh auto;
    padding: 0.4vw 0.4vw;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

div.section-contact span.text-contact{
    font-size: 4vh;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 2px;
    /* font-weight: 600; */
}

div.section-contact .section-twitch{
    width: 100%;
    height: 50vh;
    background: url("../img/singed-filtered.jpg"), #6DB3F2;
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
}

div.section-contact .twitch{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    height: 22vh;
    width: 30vw;
}

div.section-contact .logo{
    height: 22vh;
    width: 22vh;
    background: var(--theme-color-blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

div.section-contact .logo img{ 
    height: 22vh;
    width: 22vh;
}

div.section-contact .twitch-contact{
    height: 6.5vh;
    width: 60%;

    margin: auto 0 auto auto;
}


div.section-contact .twitch-contact img{
    width: 6.5vh;
    height: 6.5vh;
}

div.section-contact div.twitch-contact span.text-contact{
    text-decoration: none;
    font-size: 6.5vh;
}

.grid-panel {
    width: 65vw;
    margin: 0 auto 20px;

    display: flex;
    flex-direction: row;
}

.other-contact .grid-panel .blue-block {
    background:  linear-gradient(to right, rgb(36, 92, 252),  rgb(36, 36, 44) ), url("../img/contact-buttons.png");
    background-position: center;
    background-size: 100%;
    
    width: 13vw;
    height: 7vh;
    margin: 0 auto;
    padding: .4vw;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.other-contact .grid-panel .text-contact {
    margin: auto;

    font-size: 1.7em;
    /* background: linear-gradient(to right, rgb(36, 92, 252), rgb(36, 36, 44)); */
    background: transparent;   
}

.fresquixMoreTwitch {


    width: 15vw;
    height: 50px;
    margin: 0 auto 20px auto;

    font-size: 2em;
    color: var(--theme-color-blue);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fresquixMoreTwitch svg,
.fresquixMoreTwitch img{
    width: 50px;
    height: 50px;
}

.fresquixMoreTwitch svg#logo-fresquix{
    height: 60px;
    width: 60px;
}

.fresquixMoreTwitch svg path {
    fill: var(--theme-color-blue);
}

/* Agradecimentos */

.thanks-panel {
    height: 60vh;
    background: url("../img/singed-hextech-filtered.jpg") no-repeat;
    background-position: center 30%;
    background-size: 100%;
}

.thanks-panel .thanks {
    width: 330px;
    height: 310px;
    margin: calc(60vh - 310px) auto 0;
}