*{
    padding: 0;
    margin: 0;
}

header{
    margin: 0;
    background-color:  #0474fc; /*   https://imgur.com/f1HxqRc */
    height: 100vh;
    width: 100hw;
    display: flex;
}

footer{
  background: lightblue;
  display: inline-block;
  width: 100vw;
  position: fixed;
  height: 10vh;
  bottom: 0px;
  text-align: center;
}

.credits img{
    width: 35px;
    height: 35px;
    display: flex;
    padding: 5px;
    margin: 0;
}


/* Estilos e animações da logo principal */

svg{
    margin: auto auto;
    align-items: center;
    justify-content: center;
    stroke-dasharray: 802;
    stroke-dashoffset: 0;
    animation: logo_draw 2s /*3s*/ linear 0s normal;
}


path#selecao{
    fill: transparent;
    animation: logo_color_change 1s linear 2s 1 normal;
    animation-fill-mode: forwards;
}

@keyframes logo_draw {
    0% {
        /* inicio do desenho da logo */
        stroke-dashoffset: 802;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes logo_color_change{

    0% {
        fill: transparent;
    }

    100% {
        fill:white;
    }
}