
/* Estilos e animações do header */

header{
    display: flex;
}

header svg{
    margin: auto auto;
    align-items: center;
    justify-content: center;
    stroke-dasharray: 802;
    stroke-dashoffset: 0;
    animation: logo_draw 10s /*3s*/ linear 0s infinite normal;
}

path#logo{
    fill: transparent;
    animation: logo_color_change 10s linear 0s infinite normal;
    animation-fill-mode: forwards;
}

@keyframes logo_draw {
    0% {
        /* inicio do desenho da logo */
        stroke-dashoffset: 802;
    }

    20% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }

}

@keyframes logo_color_change{

    0% {
        fill: transparent;
    }

    20% {
        fill:transparent;
    }

    30% {
        fill: white;
    }

    100% {
        fill: white;
    }

}

/* Sobre a Fresquix */

article.sobre_fresquix{
    padding: 35vh 10vw;
    color: var(--theme-color-blue);
    background-image: url("https://i.imgur.com/g45hfSa.png");
    background-repeat: repeat-y, repeat-x;
    background-size: cover;
}

article  p.title_sobre{
    font-size: 4em;
    padding-bottom: 40px;
}


article p.sobre{
    font-size: 1.5em;
    font-weight: 600;
}

/* Comentários sobre a Fresquix */
/* colocar para comentários aparecem mediante a altura da tela ou então ao hover da tela */

article.comments_fresquix{
    background-image: url(/img/fresquix_comments.svg);
}

article.comments_fresquix path:hover{
    fill: lightskyblue;
    stroke-width: 0;
    transition: text-shadow 0.5s, transform 0.5s;
}

.comments{
    display: none;
}


/* button twitch */

div.section-contact{
    width: 100vw;
    height: 100vh;
    background: url(/img/fresquix-text-blue.svg) repeat-x;
/* background-repeat: ; */
    
    
}

div.section-contact .block-twitch-painel {
    box-sizing: content-box;

    background-color: var(--theme-color-blue);
    color: white;

    /* height: 8vh; */
    width: 10vw;
    
    margin: 3vh auto;
    padding: 0.2vw 0.2vw;

    border-radius: 1px;
}

div.section-contact .block-twitch-painel span{
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.3vh;
    /* font-weight: 600; */
}

div.section-contact .section-twitch{
    width: 100vw;
    height: 50vh;
    background:gray;
}

div.section-contact .twitch{
    /* box-sizing: content-box; */

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 12vh 25vw;

    height: 26vh;
    width: 50vw;
    border: 1px solid red;
}

div.section-contact .logo{
    margin-left: -67%;
    height: 26vh;
    width: 26vh; 
    background: var(--theme-color-blue);
    border-radius: 50%;
}

div.section-contact .logo img{ 
    height: 26vh;
    width: 26vh;
}